* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px; /* Set a base font size for better scalability */
}

/* Header Styles */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-transform: uppercase;
}

/* Poster Styles */
.poster {
  background-size: cover;
  background-position: top center;
  min-height: 600px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  position: relative;
}

h1 {
  font-size: 4rem; /* Use rem units for font size */
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

/* Container Styles */
.container {
  background-color: #181920;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
/* Movie Infos Styles */
.movie-infos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(15, 16, 20, 0.8);
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.movie-title {
  margin: 0;
  font-size: 1rem; /* Use rem units for font size */
  font-weight: bold;
  color: #ffffff;
}

/* Additional Adjustments */
@media screen and (max-width: 768px) {
  .movie-infos {
    position: relative;
    border-radius: 0; /* Remove border radius on smaller screens */
  }

  .movie-title {
    font-size: 1.125rem; /* Adjust font size for smaller screens if needed */
  }
}

/* Brand Styles */
.brand {
  font-weight: bold;
}

/* Movie Styles */
.movie {
  position: relative;
  cursor: pointer;
  text-align: left;
  font-size: 1rem; /* Use rem units for font size */
}
.movie img {
  height: auto; /* Allow the image to scale proportionally */
  max-width: 100%;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .header h1 {
    margin-bottom: 20px;
  }
}

/* Your existing styles */

/* Your existing styles */

/* Navbar Styles */
.navbar {
  background-color: #000000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar h1 {
  margin: 0;
  color: #ffffff;
}

/* Search Styles */
.search-container {
  position: relative;
}

.search {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  width: 250px;
  background-color: #181920;
  color: #ffffff;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.search:hover {
  background-color: #ffffff;
  color: #000000; /* Change text color on hover if needed */
}

.submit-search {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
}